.site-header__container {
  @extend %disp-flex-cen;
  max-width: $desktop-width;
  margin: 0 auto;
  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
  }
}

.site-header__container--index {
  padding: 23px 10px 0 10px;
  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.site-header__container--catalog {
  padding: 20px 62px 0 69px;
  margin-bottom: 54px;
  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.site-header__container--card {
  padding: 20px 59px 0 73px;
  margin-bottom: 54px;
  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}