@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin font-trinity($ff, $fs, $fw) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
}

@mixin grid-item($gcs, $gce, $grs, $gre) {
  grid-column-start: $gcs;
  grid-column-end: $gce;
  grid-row-start: $grs;
  grid-row-end: $gre;
}

@mixin m-top-left($mt, $ml) {
  margin-top: $mt;
  margin-left: $ml;
}

@mixin width-height($w, $h) {
  width: $w;
  height: $h;
}

@mixin font_s-line_h($fs, $lh) {
  font-size: $fs;
  line-height: $lh;
}