$desktop-width: 1366px;
$laptop-width: 1200px;
$tablet-landscape: 992px;
$tablet-portrait: 768px;
$large-mobile: 580px;
$mobile-width: 480px;

$playfair-display: "Playfair Display", serif;
$roboto: "Roboto", sans-serif;
$prata: "Prata", serif;

$color-dark-prim: #1b1a17;
$color-dark-sec: #444240;
$color-dark-tert: #636261;
$color-light-prim: #d4b098;
$color-bg-light: #f7f5ef;
$color-bg-lighter: #fdfdfb;
$color-pseudo: #8b8371;
$color-dark: #000;
$color-light: #fff;
$color-light-075: rgba(255, 255, 255, 0.75);
$color-nav-items: #555248;
$color-menu-item-active: #a69876;
$color-filter-reset: #e7e0cf;
$color-brand: #6f6e6d;
$color-checkbox-border: #909090;
$color-custom-range: #d4d4d4;
$color-breadcrumb: #b3b3b3;
$color-pagination: #b6b6b6;
$color-bg-subscribe: rgba(234, 228, 213, 0.38);
$color-subscribe-heading: #818181;
$color-subscribe-button: #31302C;
$color-bg-discount: #d4b098;